#################
### MISC FILES ###
.idea
.DS_Store
### MISC FILES ###
#################

###################
### BUILD FILES ###
node_modules
dist
# Packaged files
vite-plugin-dev-preview*.tgz
### BUILD FILES ###
###################

